<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="https://uat.esewa.com.np/epay/main"
      method="POST"
    >
    <input value="100" name="tAmt" type="hidden">
    <input value="90" name="amt" type="hidden">
    <input value="5" name="txAmt" type="hidden">
    <input value="2" name="psc" type="hidden">
    <input value="3" name="pdc" type="hidden">
    <input value="EPAYTEST" name="scd" type="hidden">
    <input value="sfjdsfkj-ffdfdddsdfkfds-fdsfjfd-dsfdsf" name="pid" type="hidden">
    <input value="http://127.0.0.1:8000/success?q=su" type="hidden" name="su">
    <input value="http://127.0.0.1:8000/fail?q=fu" type="hidden" name="fu">
      <input value="Pay with ESewa" type="submit" />
    </form>
  </body>
</html>
